@page "/resources"
@inject HttpClient Http

<PageTitle>Zar Ni Myo - Resources</PageTitle>

<HeadContent>
    <meta name="description" content="Frequently collected amazing development resources.">
</HeadContent>

<SinglePageTitle Title="Development Resources" Description="⚡Amazing Development Resources are added frequently!" />

@* <div>
    <label for="HeadlineAct" class="block text-lg font-medium text-gray-900">
        Headliner
    </label>

    <select name="HeadlineAct"
            id="HeadlineAct"
            class="mt-1.5 w-25 rounded-lg border-gray-300 text-gray-700 sm:text-sm">
        <option value="">All</option>
        <option value="api">APIs</option>
        <option value="BaaS">Backend As A Services</option>
        <option value="color">Colors</option>
        <option value="ebook">eBook</option>
        <option value="hosting">Hostings</option>
        <option value="icon">Icons</option>
        <option value="illustrations">Illustrations</option>
        <option value="tool">Tools</option>
    </select>
</div> *@

<ResourceList Title="" />

@code {
    //protected override async Task OnInitializedAsync()
    //{
    //    //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    //    //resourceItems = await Http.GetFromJsonAsync<ResourceItem[]>("sample-data/test-data.json");
    //}
}
